body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

.header {
    background-color: #fff;
    width: 100%;
}

.logo-text{
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: white;
    float: left;
}

.header__nav{
    background-color: #fff;
    clear: left;
    margin: 0;    
}

.header__btnMenu {
    display: none;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav li {
    display: block;
    background-color: #242c2c;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font: bold;
    text-align: center;
}

.header__nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px 0;
    transition: .6s ease;
}

.header__nav a:hover {
    color:#63c6ca;
    display: block;
    
}

.header__btnMenu {

}

.top {
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    background-image: url(../img/01.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top__title {
    background-color: #63c6ae;
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
    text-transform: uppercase;
}

.top__text {
    background-color: #242c2c;
    margin: 5px 30px 35px;
    color: white;
    padding: 20px;
    font-size: 16px;
}

.top__btn {
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.people-cards {
    margin-top: 2.5em;
    
}

.people-cards__image {
    width: 100%;
}

.people-cards__avatar {
    margin:-55px auto;
    height: 88px;
    width: 88px;
    overflow: hidden;
}

.people-cards__content {
    text-align: center;
    padding: 40px 25px 10px;
}

.people-cards__title {
    color: #737c85;
    font-size: 21px;
}

.people-cards__text {
    color: #737c85
}